asgiref==3.12.1
certifi==2026.7.22
charset-normalizer==3.5.1
Django==4.1.3
django-nested-admin==4.1.6
idna==3.19
psycopg2-binary==2.9.12
python-monkey-business==1.1.0
requests==2.34.2
sqlparse==0.6.0
tzdata==2026.3
urllib3==2.7.0
